@tailwind base;
@tailwind components;
@tailwind utilities;

/* Puedes agregar tus estilos personalizados aquí, fuera de las directivas de Tailwind */
body {
  @apply bg-gray-300; /* Utiliza la utilidad de color de fondo de Tailwind */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* O para usar un color específico que no está en la paleta de Tailwind: */
  /* background: rgb(82, 72, 72); */
  /* Para un fondo con imagen: */
  /* background-image: url('/path-to-your-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

/* Si quieres aplicar estilos al body globalmente, considera usar la clase directamente en el elemento body de tu _document.js o _document.tsx, en lugar de crear una clase separada */
